[user]
    name = Thomas Hudspith-Tatham
    email = iammotivated@gmail.com

[github]
    user = tomatau

[core]
    editor = subl -n -w
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
	pager = delta

    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    # trustctime = false

[init]
	defaultBranch = main

[push]
    default = simple

[pull]
    rebase = true

[rebase]
    autosquash = true

[help]
    autocorrect = 3

[alias]
    a = add
    aa = add -A
    b = branch
    s = status -s
    st = status
    c = commit
	cn = commit --no-verify
    cm = commit -m
    cmn = commit -m --no-verify
    ca = commit -a
    can = commit -a --no-verify
    cam = commit -am
    camn = commit -am --no-verify
    cia = commit --amend -C HEAD
    cian = commit --amend -C HEAD --no-verify
    mend = commit --amend
    co = checkout
    conew = checkout origin/main -b
    d = diff -- ':!package-lock.json'
    dsd = diff --staged -- ':!package-lock.json'
    dst = diff --stat -- ':!package-lock.json'
    new = log master.. --reverse
    unstage = reset HEAD
    uncommit = reset HEAD~
    unpush = push -f origin HEAD^:main
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    last = log -1 -p HEAD
    m = merge
    ps = push
    psn = push --no-verify
    pf = push --force-with-lease
    pfn = push --force-with-lease --no-verify
    pl = pull
    rmc = rm --cached
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
    wdiff = diff --color-words
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    # show custom graph
    g = log --graph --pretty=custom
    delbr = push origin --delete

[delta]
    syntax-theme = Monokai Extended
    navigate = true    # use n and N to move between diff sections
    # light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true


[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
	# renames = copies # detect renames

# [diff]
#     tool = atom
#     renames = copies
# [difftool "atom"]
#     trustExitCode = true
#     prompt = false
#     cmd = "/usr/local/bin/atom" "$LOCAL" "$REMOTE"
# [merge]
#     tool = atom

[mergetool]
    prompt = false
    keepBackup = false

# opendiff kdiff3 tkdiff xxdiff meld tortoisemerge gvimdiff diffuse diffmerge ecmerge p4merge araxis bc3 codecompare emerge vimdiff
# [mergetool "atom"]
#     trustExitCode = true
#     cmd = "/usr/local/bin/atom" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[color]
    ui = true

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red bold # deletions
    new = green bold # additions
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[pretty]
    # Custom log output
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │  author name ┘
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[web]
    browser = open

[url "git@github.com:"]
    insteadOf = https://github.com/
