[user]
    name = Thomas Hudspith-Tatham
    email = iammotivated@gmail.com
[github]
    user = tomatau
[core]
    editor = subl -n -w
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    # trustctime = false
[push]
    default = simple

[alias]
    a = add
    aa = add -A
    b = branch
    s = status -s
    st = status
    c = commit
    cm = commit -m
    ca = commit -a
    cam = commit -am
    camn = commit -am --no-verify
    cia = commit --amend -C HEAD
    cian = commit --amend -C HEAD --no-verify
    mend = commit --amend
    co = checkout
    d = diff -- ':!package-lock.json'
    dsd = diff --staged -- ':!package-lock.json'
    dst = diff --stat -- ':!package-lock.json'
    new = log master.. --reverse
    unstage = reset HEAD
    uncommit = reset HEAD~
    unpush = push -f origin HEAD^:master
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    last = log -1 -p HEAD
    m = merge
    ps = push
    psn = push --no-verify
    pf = push --force-with-lease
    pfn = push --force-with-lease --no-verify
    pl = pull
    rmc = rm --cached
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
    wdiff = diff --color-words
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    # show custom graph
    g = log --graph --pretty=custom
    newb = checkout master -b
    delbr = push origin --delete
    pf = push --force-with-lease
[help]
    autocorrect = 4
[web]
    browser = open

[rebase]
    autosquash = true

[diff]
    tool = atom
    renames = copies
    # detect renames
[difftool "atom"]
    trustExitCode = true
    prompt = false
    cmd = "/usr/local/bin/atom" "$LOCAL" "$REMOTE"
[merge]
    tool = atom

[mergetool]
    prompt = false
    keepBackup = false
# opendiff kdiff3 tkdiff xxdiff meld tortoisemerge gvimdiff diffuse diffmerge ecmerge p4merge araxis bc3 codecompare emerge vimdiff
[mergetool "atom"]
    trustExitCode = true
    cmd = "/usr/local/bin/atom" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red bold # deletions
    new = green bold # additions
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[pretty]
    # Custom log output
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │  author name ┘
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
