//registry=http://registry.npmjs.eu/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
init-author-name=Thomas Hudspith-Tatham
init-author-email=thomas.h-t@dendra.io
init-license=UNLICENSED
init-version=0.0.1
