#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Creating directories..."

p-header purple "Checking {{ .code_path }}..."

if [[ ! -d {{ .code_path }} ]]; then
    mkdir {{ .code_path }}
else
    p-header green "{{ .code_path }} already exists..."
fi

p-header purple "Checking {{ .code_path_tom }}..."

if [[ ! -d {{ .code_path_tom }} ]]; then
    mkdir {{ .code_path_tom }}
else
    p-header green "{{ .code_path_tom }} already exists..."
fi
