#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Applying macOS settings..."

# .osx hash: {{ include (joinPath .chezmoi.sourceDir "/dot_osx.tmpl") | sha256sum }}

if [ -f "${HOME}/.osx" ]; then
  source "${HOME}/.osx"
fi

p-header purple "Restarting affected applications to apply settings..."

for app in "Dock" \
  "Finder" \
  "SystemUIServer"; do
  killall "${app}" &> /dev/null
done

p-header green "Applied macOS settings..."
