#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh.tmpl"

set_strict_mode

p_header white "Creating directories..."

if [[ ! -d "$HOME/Code" ]]; then
    mkdir $CODE_PATH
    mkdir $CODE_PATH/tomatao
    mkdir $GOPATH
else
    p_header green "Code directory already exists..."
fi
