#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh"

set_strict_mode

p_header white "Installing node versions with FNM..."

if ! command -v fnm &> /dev/null; then
  p_header red "FNM not installed..."
  brew install fnm
fi

export FNM_COREPACK_ENABLED="true"

fnm install --lts
fnm install --latest

p_header green "Node versions installed with PNPM and Yarn..."

fnm ls
