#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh"

set_strict_mode

p_header white "Starting lastpass login..."

if ! command -v lpass &>/dev/null; then
  p_header red "Error: lpass command not found..."
  exit 1
fi

# login to lastpass if installed and not logged in
if ! lpass status &>/dev/null; then
  p_header purple "You must login to lastpass..."
  lpass login {{ .lastpass.username }}
else
  p_header green "Lastpass already logged in..."
fi
