#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Installing proto plugins and tools..."

if ! command -v proto &> /dev/null; then
  p-header red "proto not installed..."
  brew install proto
fi

proto install bun
proto install deno
proto install go
proto install uv

p-header green "Proto tools installed..."
