#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"
source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/setup-github-ssh.sh"

set-strict-mode

p-header white "Starting SSH key setup..."

{{ $ssh_dir := joinPath .chezmoi.homeDir ".ssh" -}}
{{ $private_key := .github.key_name -}}

setup-github-ssh \
  {{ .github.email | quote }} \
  {{ $ssh_dir }} \
  {{ $private_key }}
