#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh.tmpl"

set_strict_mode

p_header white "Installing fisher and fish plugins..."

if command -v fish &>/dev/null; then
  p_header purple "Installing fisher and updating plugins..."

  # 1. Download the installer and pipe it to `source` (a fish builtin)
  # 2. `fisher install` to complete the installation
  # 3. `fisher update` to install plugins listed in `~/.config/fish/fish_plugins`

  fisher_url="https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"

  install_cmd="curl -sL ${fisher_url} | source \
    && fisher install jorgebucaran/fisher \
    && fisher update"

  # run the fisher installer from within a fish shell
  if fish -c "$install_cmd"; then
    p_header green "Fisher installed and plugins updated successfully."
  else
    p_header red "Fisher installation failed."
  fi
else
  p_header yellow "Fish shell not found. Skipping fisher installation."
fi
