#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh.tmpl"

set_strict_mode

p_header white "Installing shells..."

bin_dir="$(brew --prefix)/bin"

needs_to_be_added_to_shells() {
  local shell_name="$1"
  local shell_path="${bin_dir}/${shell_name}"

  # checks if the shell executable exists and is not in /etc/shells
  [[ -x "$shell_path" ]] && ! grep -qF -- "$shell_path" /etc/shells
}

add_bin_to_shells() {
  local shell_name="$1"
  local shell_path="${bin_dir}/${shell_name}"

  echo "${shell_path}" | sudo tee -a /etc/shells >/dev/null
}

shells=(bash zsh fish)

for shell in "${shells[@]}"; do
  if needs_to_be_added_to_shells "$shell"; then
    p_header purple "Adding ${bin_dir}/${shell} to the list of acceptable shells"
    add_bin_to_shells "$shell"
  else
      p_header green "${shell} already in /etc/shells"
  fi
done

p_header white "Checking default shell..."
zsh_path="${bin_dir}/zsh"

current_shell=$(dscl . -read ~ UserShell | awk '{print $2}')

if [[ -x "$zsh_path" && "$current_shell" != "$zsh_path" ]]; then
  p_header purple "Changing default shell to Homebrew Zsh..."
  sudo chsh -s "$zsh_path" "$USER"
else
  p_header green "Default shell is already Homebrew Zsh"
fi
