#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Creating git-identities.local.yml..."

LOCAL={{ .files.git_identities_local | quote }}

if [[ ! -f "$LOCAL" ]]; then
  echo "identities:" > "$LOCAL"
fi
