#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh.tmpl"

set_strict_mode

p_header white "Copying iterm2 profiles..."

{{ $profiles_config := joinPath .chezmoi.sourceDir "/.iterm2/iTerm2.json" }}
{{ $profiles_dir := "$HOME/Library/Application Support/iTerm2/DynamicProfiles/" }}

# iterm2.json hash: {{ include $profiles_config | sha256sum }}

cp {{ $profiles_config | quote }} {{ $profiles_dir | quote }}
