#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Starting lastpass login..."

if ! command -v lpass &>/dev/null; then
  p-header red "Error: lpass command not found..."
  exit 1
fi

# login to lastpass if installed and not logged in
if ! lpass status &>/dev/null; then
  p-header purple "You must login to lastpass..."
  lpass login {{ .lastpass.username }}
else
  p-header green "Lastpass already logged in..."
fi
