#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

{{ $common_brewfile := joinPath .chezmoi.sourceDir "/.brew/common_brewfile" }}
{{ $personal_brewfile := joinPath .chezmoi.sourceDir "/.brew/personal_brewfile" }}
{{ $work_brewfile := joinPath .chezmoi.sourceDir "/.brew/work_brewfile" }}

# common_brewfile hash: {{ include $common_brewfile | sha256sum }}
# personal_brewfile hash: {{ include $personal_brewfile | sha256sum }}
# work_brewfile hash: {{ include $work_brewfile | sha256sum }}

p-header white "Installing brewfile..."

p-header purple "Installing common brewfile..."
brew bundle --verbose --file={{ $common_brewfile }}

{{- if eq .profile "personal" }}

p-header purple "Installing personal brewfile..."
brew bundle --verbose --file={{ $personal_brewfile }}

{{- else if eq .mode "work" }}

p-header purple "Installing work brewfile..."
brew bundle --verbose --file={{ $work_brewfile }}

{{- end }}

p-header green "Installed all brewfiles! Cleaning up..."
brew cleanup
