#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Rust initialisation..."

# install rustc if not installed
if ! command -v rustc &> /dev/null; then
  p-header purple "Initialising Rust..."
  brew install rustup
  rustup-init -y
else
  p-header green "Rust already initialised..."
fi
