#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/dot_local/lib/shell/utils.sh"

set-strict-mode

p-header white "Installing node versions with FNM..."

if ! command -v fnm &> /dev/null; then
  p-header red "FNM not installed..."
  brew install fnm
fi

export FNM_COREPACK_ENABLED="true"

fnm install --lts
fnm install --latest

p-header green "Node versions installed with PNPM and Yarn..."

fnm ls
