"*":
  core:
    disabledPackages: [
      "language-gfm"
      "linter-retext"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Operator Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "linter-retext": {}
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "seti-ui":
    compactView: true
  welcome:
    showOnStartup: false
