'atom-workspace atom-text-editor:not([mini])':
 'ctrl-alt-f': 'editor:fold-selection'
 'shift-enter': 'editor:newline'
'atom-text-editor':
 'cmd-shift-space': 'expand-region:expand'
'body':
 'cmd-k right': 'pane:split-right-and-move-active-item'
 'cmd-k left': 'pane:split-left-and-move-active-item'
'atom-workspace atom-text-editor:not(.mini), .tree-view':
 'ctrl-shift-enter': 'jumpy:toggle'
