[user]
    name = Thomas Hudspith-Tatham
    email = iammotivated@gmail.com
[github]
    user = tomatau
[core]
    editor = subl -n -w
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    # trustctime = false
[push]
    default = simple

[alias]
    a = add
    aa = add -A
    b = branch
    c = commit
    cm = commit -m
    ca = commit -a
    cam = commit -am
    co = checkout
    d = diff
    dsd = diff --staged
    dst = diff --stat
    new = log master.. --reverse
    s = status -s
    st = status
    cia = commit --amend -C HEAD
    unstage = reset HEAD
    uncommit = reset HEAD~
    unpush = push -f origin HEAD^:master
    co = checkout
    last = log -1 -p HEAD
    m = merge
    ps = push
    pl = pull
    r = rm --cached
    wdiff = diff --color-words
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    # show custom graph
    g = log --graph --pretty=custom
    newb = checkout master -b

[help]
    autocorrect = 1
[web]
    browser = open

[rebase]
    autosquash = true

[diff]
    tool = bcomp
    renames = copies
    # detect renames
[difftool "bcomp"]
    trustExitCode = true
    prompt = false
    cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE"
[merge]
    tool = bcomp

[mergetool]
    prompt = false
    keepBackup = false
# opendiff kdiff3 tkdiff xxdiff meld tortoisemerge gvimdiff diffuse diffmerge ecmerge p4merge araxis bc3 codecompare emerge vimdiff
[mergetool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red bold # deletions
    new = green bold # additions
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[pretty]
    # Custom log output
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │  author name ┘
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
