//registry=http://registry.npmjs.eu/
//registry.npmjs.org/:_authToken=17704f24-b32e-4874-9bbd-05d546a6bc76
init-author-name=Thomas `tomatao` Hudspith-Tatham
init-author-email=tom@tomatao.co.uk
init-license=MIT
init-version=0.0.1