[submodule "dotfiles/.vim/bundle/es.next.syntax.vim"]
	path = dotfiles/.vim/bundle/es.next.syntax.vim
	url = git@github.com:othree/es.next.syntax.vim.git
[submodule "dotfiles/.vim/bundle/jellybeans.vim"]
	path = dotfiles/.vim/bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "dotfiles/.vim/bundle/vim-gitgutter"]
	path = dotfiles/.vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "dotfiles/.vim/bundle/vim-jsx"]
	path = dotfiles/.vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "dotfiles/.vim/bundle/yajs-core.vim"]
	path = dotfiles/.vim/bundle/yajs-core.vim
	url = git@github.com:othree/yajs-core.vim.git
