{{- /* The sourceDir will be set by the `init` command */ -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]

[data.git]
name = "Thomas Hudspith-Tatham"
email = "iammotivated@gmail.com"

[data.github]
user = "tomatau"

[data.lastpass]
username = "iammotivated@gmail.com"

[data.npm]
author = "Thomas `tomatao` Hudspith-Tatham"
email = "iammotivated@gmail.com"
