#!/usr/bin/env bash

# if not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# shell scripts in specific order
shell_scripts=(
  env_vars
  path_management
  bash_options
  bash_completions
  bash_custom_boundaries
  history
  aliases_file
  aliases_programs
  osx
  ubuntu
)

for file in "${shell_scripts[@]}"; do
  [ -r ~/.shell/${file}.sh ] && source ~/.shell/${file}.sh
done

unset file

# HOMEBREW
eval "$(/opt/homebrew/bin/brew shellenv)"

if [ -f $(brew --prefix)/etc/brew-wrap ];then
  source $(brew --prefix)/etc/brew-wrap
fi

# PROGRAMS
source ~/.shell/bash_init_programs.sh
