#!/usr/bin/env zsh

# if not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# shell scripts in specific order
shell_scripts=(
  path_management
  zsh_options
  zsh_completions
  zsh_custom_boundaries
  history
  aliases_file
  aliases_programs
  osx
  ubuntu
)

for file in "${shell_scripts[@]}"; do
  [ -r ~/.shell/${file}.sh ] && source ~/.shell/${file}.sh
done

unset file

# PROGRAMS
source ~/.shell/zsh_init_programs.sh
